name: Codecov

on:
  push:
    branches:
main
  pull_request:
    branches:
main

jobs:
  build:
    runs-on: macOS-latest
    steps:
      - name: Test
        uses: actions/checkout@v1
      - name: Build and Test
        run:  xcodebuild test -project Reciplease-Beta/Reciplease-Beta.xcodeproj -scheme Reciplease-Beta -destination 'platform=iOS Simulator,name=iPhone 11,OS=14.3' build test
